* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Caprasimo&family=Fascinate+Inline&display=swap');

body {
    background-color: #FFF4F0;
    color: #40241A;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 30px;
    background-color: #FFF4F0;
    color: #40241A;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.250);
    position: sticky;
    top: 0;
}

.logo{
display: flex;
}

.logoANapolitana {
width: 80px;
}

.imgIconeUsuario {
    width: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    padding: 0 20px;
    margin: 0px;
    border-right: 1px solid #40241A;
}

nav ul li:last-child {
    border: none;
}

nav ul li a {
    text-decoration: none;
    color: #40241A;
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    border-right: solid 1 #40241A;
}
nav ul li a:hover {
    color: #c97455;
}

aside {
    width: 250px;
    background-color: #FFF4F0;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.250);
    text-align: center;
    font-family: 'Caprasimo', sans-serif;
    height: 100vh;
    padding-top: 30px;
    position: fixed;
    border-top: 1px solid #40241A;
}

    aside h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #40241A;
    }

.linkAside {
    text-decoration: none;
    color: #40241A;
    font-family: 'Baloo 2', sans-serif;
    display: block;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    background-color: #FFF4F0;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-color: #40241A;
    text-align: center;
    cursor: pointer;
}

section {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

table {
    margin: 0px 150px;
    display: flex;
    border-collapse: collapse;
    border-color: #40241A;
    font-family: 'Baloo 2', sans-serif;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.250);
    border-radius: 12px;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 40px;
}

table th:last-child {
    text-align: center;
}

table th, table td {
    padding: 12px 20px;
    border: 1px solid #40241A; 
}

table th {
    background-color: #794F40;
    color: white;
    font-size: 1.1rem;
    font-family: 'Caprasimo', sans-serif;
    text-align: left;
    font-weight: 100;
}

table tr:nth-child(even) {
    background-color: #D9B1A4;
    border-color: #40241A;
}

table tr:nth-child(odd) {
    background-color: #AE8474;
    border-color: #40241A;
}

table td {
    font-size: 1rem;
    color: #40241A;
    font-family: 'Baloo 2', sans-serif;
    text-align: left;
}

table a {
    color: #40241A;
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    text-decoration: underline;
    color: #7a5d51;
}

#btnAdicionar {
    background-color: #9CB97B;
    text-align: center;
    display: inline-block; 
    width: auto;   
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Baloo 2', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px 150px;
    text-decoration: none;
}

.btnContainer {
    text-align: end;   
}

#btnAdicionar {
    background-color: #9CB97B;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'Baloo 2', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px 150px;
}

#btnAdicionar:hover {
    background-color: #647E46;
    cursor: pointer;
}

#linkProdutos {
    color: #40241A;
}

#linkProdutos:hover {
background-color: #C7B3AC;
}

#linkVendas {
    color: #C7B3AC;
    border-color: #C7B3AC;
}


#logout {
    color: #40241A;
    font-family: 'Caprasimo', sans-serif;
}

.mensagem-sucesso {
    background-color: #d4edda;
    font-family: 'Baloo 2', sans-serif;
    color: #155724;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #c3e6cb;
    border-radius: 5px;        
    border-left: 5px solid #155724;
    border-radius: 8px;
    margin-bottom: 5px;
}

